= form_for :number, url: numbers_path do |f|
  = f.number_field :phone_number, class: 'form-control', placeholder: 'Phone Number'
  = f.email_field :email, class: 'form-control', placeholder: 'Email'
  = f.submit 'Create', class: 'btn btn-primary'
